extends ../_layout

block app-title
    | #{result.title} Details

block content
    div#article.col-lg-8(articleId= result._id)
        h1 #{result.title}

        h2 
            | by #{result.author}
            | on 
            = new Date(result.publishedAt).toLocaleString("de")
    
        div.panel.panel-default.col-lg-12.content
            div.col-lg-6
                img.img-responsive(src= result.imageUrl, alt="article-image" width="400px")
            div.panel.panel-default.col-lg-6
                p 
                    | #{result.description}
                    br
                    a.see-more(href=result.url)
                        | See more
        
        if user
            if !inFavourites
                form(method="POST" action="/article-details/"+result._id)
                    button.btn.btn-success
                        | Add to Favourite Articles
        
        div.panel.panel-default
            div.panel-heading
                div.panel-title
                | Comments
            div.panel-body

                if user
                    form(method="POST" action="/#")
                        div.form-group
                            textarea#commentContent.form-control(rows="3" name="commentContent")
                        button#addComment.btn.btn-default(type="submit")
                            | Add comment

                div#comments
    script(src="/static/scripts/commentManagement.js")
